<div class="m-2 ms-3 p-2 py-5 container-general">
    <img src="../../assets/images/pianta.png" alt="Plant" class="plant-image">

    <div class="param1">
        <app-primary-card [description]="'Temperatura'" [value]="'21.0 °C'" [icon]="'thermostat'">
        </app-primary-card>
    </div>

    <div class="param2">
        <app-primary-card [description]="'Umidità'" [value]="'55%'" [icon]="'water_drop'">
        </app-primary-card>
    </div>

    <div class="param3">
        <app-primary-card [description]="'Serbatoio'" [value]="'75%'" [icon]="'water'">
        </app-primary-card>
    </div>
</div>

<div class="m-3 p-2 watering-general">

</div>