<ion-header collapse="condense">
  <ion-toolbar>
    <div class="d-flex align-items-center">
      <img src="../../assets/images/Zacchino.png" style="width: auto; height: 35px;" />
      <ion-title size="large">DigitalGrow</ion-title>
    </div>


  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
   @for (item of plants; track $index) {
    <app-generic-card-plants [plant]="item"></app-generic-card-plants>
   }
</ion-content>