<ion-tabs>
  <ion-fab class="fab-border" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <span class="material-symbols-rounded" style="font-size: 30px !important;">qr_code_scanner</span>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" class="tab-container">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <span class="material-symbols-rounded" style="font-size: 30px !important;">home</span>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <span class="material-symbols-rounded" style="font-size: 30px !important;">forum</span>
    </ion-tab-button>

    <ion-tab-button class="fab-placeholder" disabled="true"></ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <span class="material-symbols-rounded" style="font-size: 30px !important;">potted_plant</span>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <span class="material-symbols-rounded" style="font-size: 30px !important;">account_circle</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>