.container-general {
    background-color: #C4DEAA;
    border-radius: 1.5rem;
    width: 70%;
    position: relative;
    height: 350px;
}

.plant-image {
    width: auto;
    height: 275px;
    padding-left: 40px;
    position: absolute;
    top: 25px;
    left: -20px;
}

.param1 {
    position: absolute;
    top: 0; //27
    right: -110px;
}

.param2 {
    position: absolute;
    top: 28%; //34
    right: -110px;
}

.param3 {
    position: absolute;
    bottom: 7%; // 14
    right: -110px;
}

.param4 {
    position: absolute;
    bottom: -18%; //13
    left: 15px;
}

.watering-general {
    background-color: #71C5F0;
    border-radius: 1.5rem;
    position: relative;
    height: 315px;
}

/* Stili per tablet e schermi più grandi */
@media (min-width: 768px) {

  .param1 {
    top: 8%;
    right: -110px; // Mantenuto come da tuo codice
  }

  .param2 {
    top: 34%;
    right: -110px; // Mantenuto come da tuo codice
  }

  .param3 {
    bottom: 14%;
    right: -110px; // Mantenuto come da tuo codice
  }

  .param4 {
    bottom: -13%;
    left: 15px; // Mantenuto come da tuo codice
  }
  
}