<ion-header collapse="condense" style="height: 50px;;">
  <ion-toolbar style="padding: 5px 0px 5px 15px;">
    <div class="d-flex align-items-center">
      <img src="../../assets/images/Logo_img.png" style="width: auto; height: 35px; margin-right: 10px;" />
      <img src="../../assets/images/Logo_text.png" style="width: auto; height: 30px;" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #chatContainer class="chat-container p-3 pt-5">
    <div *ngFor="let message of messages" class="message-wrapper"
      [ngClass]="{ 'user-message-wrapper': message.sender === 'user' }">
      <div class="chat-bubble"
        [ngClass]="{ 'user-bubble': message.sender === 'user', 'gemini-bubble': message.sender === 'gemini' }">

        <p *ngIf="message.sender === 'user'">{{ message.content }}</p>

        <markdown *ngIf="message.sender === 'gemini'" [data]="message.content"></markdown>

      </div>
    </div>
    <div *ngIf="isLoading" class="message-wrapper">
      <div class="chat-bubble gemini-bubble">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </div>
  </div>

  <div class="chat-input-area">
    
    <div class="textarea-wrapper">
      <ion-textarea [(ngModel)]="newMessage" placeholder="Scrivi il tuo messaggio..." [autoGrow]="true"
        (keydown.enter)="sendMessage(); $event.preventDefault()">
      </ion-textarea>
    </div>

    <ion-button class="send-button" (click)="sendMessage()" [disabled]="newMessage.trim() === '' || isLoading">
      <span class="material-symbols-outlined filled">send</span>
    </ion-button>

  </div>
</ion-content>

