<ion-header collapse="condense" style="height: 50px;;">
  <ion-toolbar style="padding: 5px 0px 5px 15px;">
    <div class="d-flex align-items-center">
      <img src="../../assets/images/Logo_img.png" style="width: auto; height: 35px; margin-right: 10px;" />
      <img src="../../assets/images/Logo_text.png" style="width: auto; height: 30px;" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>