.primary-card-border-radius {
    border-radius: 1.5rem !important;
}

.primary-card-border {
    border: 1px solid var(--ion-color-light) !important;
}

.primary-card-background {
    color: var(--ion-color-secondary-contrast) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
}

.primary-card-width {
  width: 180px;
}

.primary-card-background-green {
background: rgba(215, 233, 191, 0.57);
}

.primary-card-background-blue {
    background: rgba(113, 197, 240, 0.57);
}

.card-container {
    position: relative;
    margin-top: 30px;
}

.description-overflow-wrap {
    word-break: break-all;
}

.floating-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    background-color: var(--ion-color-primary);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-primary-icon {
    background-color: var(--ion-color-primary);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-water-icon {
    background-color: rgb(113, 197, 240);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-wrapper {
  width: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  flex-grow: 1; 
  text-align: center;
}

.card-water-icon, .card-primary-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
}

.card-water-icon {
  background-color: #e0f7fa;
  color: #007bff;
}

.card-primary-icon {
  background-color: #e8f5e9;
  color: #4caf50;
}