.border-radius-container-tips-general {
    border-radius: 1.5rem;
}

.info-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  
  font-size: 24px; 
  color: var(--ion-color-primary);
  
  cursor: pointer;
}