<ion-card class="primary-card-border-radius primary-card-border primary-card-background primary-card-background-{{color}}">
  <ion-card-content>
    <div class="card-flex-container">

  <div class="icon-wrapper">
    <div [ngClass]="{'card-water-icon': color === 'blue', 'card-primary-icon': color === 'green'}">
      <span class="material-symbols-outlined">
        {{icon}}
      </span>
    </div>
  </div>

  <div class="text-wrapper description-overflow-wrap">
    <p class="m-0">
      {{description}}
    </p>
    <p class="m-0">
      {{value + ' ' }}{{unitMeasure}}
    </p>
  </div>
  
</div>
  </ion-card-content>
</ion-card>


<!-- <div class="card-container" style="width: fit-content;">

  <div class="floating-icon">
    <span class="material-symbols-outlined">
      {{icon}}
    </span>
  </div>

  <ion-card class="primary-card-border-radius primary-card-border primary-card-background"
    style="width: fit-content;min-width: 135px !important;">
    <ion-card-content>
      <div class="card-content pt-3 pb-1 d-flex flex-column align-items-center">

        <div class="mb-2 description-overflow-wrap">
          <span>{{description}}</span>
        </div>

        <div class="primary-card-border-radius primary-card-border p-2 px-3" style="width: fit-content;">
          <span>{{value}}</span>
        </div>

      </div>
    </ion-card-content>
  </ion-card>

</div> -->