<ion-card class="primary-card-border-radius primary-card-border primary-card-background" style="width: 180px;">
  <ion-card-content>
    <div class="card-content d-flex">

      <div class="row">
        <div class="col-4">
          <div class="card-primary-icon">
            <span class="material-symbols-outlined">
              {{icon}}
            </span>
          </div>
        </div>
        <div class="col-8 description-overflow-wrap " style="text-align: center;">
          <p class="m-0">
            {{description}}
          </p>
          <p class="m-0">
            {{value}}
          </p>
        </div>
      </div>

    </div>
  </ion-card-content>
</ion-card>


<!-- <div class="card-container" style="width: fit-content;">

  <div class="floating-icon">
    <span class="material-symbols-outlined">
      {{icon}}
    </span>
  </div>

  <ion-card class="primary-card-border-radius primary-card-border primary-card-background"
    style="width: fit-content;min-width: 135px !important;">
    <ion-card-content>
      <div class="card-content pt-3 pb-1 d-flex flex-column align-items-center">

        <div class="mb-2 description-overflow-wrap">
          <span>{{description}}</span>
        </div>

        <div class="primary-card-border-radius primary-card-border p-2 px-3" style="width: fit-content;">
          <span>{{value}}</span>
        </div>

      </div>
    </ion-card-content>
  </ion-card>

</div> -->